body {
    background-image: url(bggif.gif);
    /* background-size: 50px; */
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    top: 0;
    bottom: 0;
}

audio {
    position: absolute;
    z-index: 10;
}

.sergaTheBest {
    display: block;
    font-size: 8rem;
    margin: auto;
    animation: 100s linear rotation infinite;
    animation-play-state: running;
    text-shadow: 5px 5px 20px #ffcc25;
    color: #ffcc25;

}

.zamost {
    position: absolute;
    background-image: url(serega.png);
    background-size: 30px;
}

.visible {
    display: flex !important;
}

.questions {
    /* height: 100%; */
    position: absolute;
    transform: scale(0.9);
    translate: 0 -15%;
    animation: 100s linear face infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes face {
    from {
        filter: opacity(0);
        transform: rotate(0deg);
    }

    50% {
        filter: opacity(1);
        transform: rotate(-360deg);
    }

    to {
        filter: opacity(0);
        transform: rotate(0deg);
    }

}