body {
    background-image: url(bggif.gif);
    /* background-size: px; */
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    top: 0;
    bottom: 0;
}

audio {
    position: absolute;
    z-index: 10;
}

.sergaTheBest {
    display: block;
    font-size: 8rem;
    margin: auto;
    animation: 10s linear rotation infinite;
    animation-play-state: running;
    text-shadow: 5px 5px 20px #ffcc25;
    color: #ffcc25;

}

.visible {
    display: flex !important;
}

.questions {
    /* height: 100%; */
    position: absolute;
    transform: scale(0.9);
    translate: 0 -15%;
    animation: linear face 100s;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes face {
    from {
        filter: opacity(0);
    }

    to {
        filter: opacity(1);
    }

}

@keyframes pulsation {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}